<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/app.css?v=1.0.0">
</head>
<body>
<div id="wrapper-chat">
    <div id="chat-container">
        <div class="block">
            <a href="{{ links.allUsers }}">{{ labels.allUsers }}</a> | <a href="{{ links.profile }}">{{ labels.profile }}</a> |
            <a href="{{ links.logout }}">{{ labels.exit }}</a>
        </div>

    </div>
</div>
</body>
</html>