<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/css/app.css?v=1.0.0">
	<script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src="/static/js/profile.js?v=1.0.0"></script>
</head>
<body>
<div id="wrapper">
	<div id="main-container">
        {% if error %}
			<div id="error-container">
                {{ error }}
			</div>
        {% endif %}
		<form action="{{ links.profile }}&r={{ rand }}" method="post" enctype="multipart/form-data">
			<div class="block">
				<a href="{{ links.allUsers }}">{{ labels.usersList }}</a> |
				<a href="{{ links.logout }}">{{ labels.exit }}</a>
			</div>
			<div class="label block">
				{{ labels.name }}:
			</div>
			<div class="block"><input type="text" name="name" value="{{ user.getName() }}"></div>
			<div class="label block">
				{{ labels.email }}:
			</div>
			<div class="block">{{ user.getEmail() }}</div>
			<div class="label block">
				{{ labels.userpic }}:
			</div>
			<div style="text-align: center" class="block">
				{% if user.getPic() %}
					<img src="{{ user.getPic() }}" width="128" height="128">
					{% else %}
						{% if user.getSex() == 1 %}
								<img src="/static/img/user-pic-m.png" width="128" height="128">
							{% elseif user.getSex() == 2 %}
								<img src="/static/img/user-pic-w.png" width="128" height="128">
							{% else %}
								<img src="/static/img/user-pic-u.png" width="128" height="128">
						{% endif %}
				{% endif %}
			</div>
			<div class="file_upload">
				<button type="button">{{ labels.selectFile }}</button>
				<div>{{ labels.notSelected }}</div>
				<input type="file" name="user-pic">
			</div>
			<div class="label block">
				{{ labels.sex.title }}
			</div>
			<div class="block">
				<select name="sex">
					<option value="0">{{ labels.sex.select }}</option>
					<option value="1" {% if user.getSex() == 1 %}selected="selected"{% endif %}>{{ labels.sex.man }}</option>
					<option value="2" {% if user.getSex() == 2 %}selected="selected"{% endif %}>{{ labels.sex.woman }}</option>
				</select>
			</div>
			<div class="block">
				<input type="submit" name="submit" value="{{ labels.update }}">
			</div>
		</form>
	</div>
</div>
</body>
</html>