<html>
<head>
    {% include '@app/blocks/header.twig' %}
</head>
<body>
<div class="header-menu">
    {% include '@app/blocks/search.twig' with {"userSearch": labels.userSearch }  %}
	<span class="left">
        <a href="{{ links.allUsers }}">
            <img src="/static/img/chatNow.png" width="25" height="25" align="absmiddle">
            {{ labels.usersList }}
        </a>
	</span>
    <span class="right">
		{% include '@app/blocks/header.right.menu.twig' with {'links':links,'labels':labels,'userName':currentUser.getName()} %}
	</span>
</div>
<div id="wrapper">
    <div id="main-container">
        {% if favorites %}
            {% for user in favorites %}
                <div class="block">
                    {% include '@app/blocks/userPic.twig' with {"user": user, "size": 55 } %}
                    {% if currentUser.getId() != user.getId() %}
                        <a href="/with/{{ user.getId() }}">{{ user.getName() }}</a>
                        {% include '@app/blocks/check.favorite.twig' with {"user": currentUser, "favId": user.getId() } %}
                    {% else %}
                        <a href="#">{{ user.getName() }}</a>
                    {% endif %}
                </div>
            {% endfor %}
        {% else %}
            <div class="block">{{ labels.listIsEmpty }}</div>
        {% endif %}
    </div>
</div>
</body>
</html>