<html>
<head>
	{% include '@app/blocks/header.twig' %}
</head>
<body>
<div class="header-menu">
    {% include '@app/blocks/search.twig'  with {"userSearch": labels.userSearch } %}
	<span class="left">
		{% include '@app/blocks/header.left.menu.twig' with {'links':links,'labels':labels} %}
	</span>
	<span class="right">
		{% include '@app/blocks/header.right.menu.twig' with {'links':links,'labels':labels,'userName':user.getName()} %}
	</span>
</div>
<div id="wrapper">
	<div id="main-container">
        {% if error %}
			<div id="error-container">
                {{ error }}
			</div>
        {% endif %}
		<form action="{{ links.profile }}&r={{ rand }}" method="post" enctype="multipart/form-data">
			<div class="label">
				{{ labels.name }}:
			</div>
			<div class="block"><input type="text" name="name" value="{{ user.getName() }}"></div>
			<div class="label">
				{{ labels.email }}:
			</div>
			<div class="block">{{ user.getEmail() }}</div>
			<div class="label">
				{{ labels.userpic }}:
			</div>
			<div style="text-align: center" class="block">
                {% include '@app/blocks/userPic.twig' with {"user": user, "size": 128 } %}
				<div style="height: 5px"></div>
				<div class="file_upload">
					<button type="button">{{ labels.selectFile }}</button>
					<div>{{ labels.notSelected }}</div>
					<input type="file" name="user-pic">
				</div>
			</div>
			<div class="label">
				{{ labels.sex.title }}
			</div>
			<div class="block">
				<select name="sex">
					<option value="0">{{ labels.sex.select }}</option>
					<option value="1" {% if user.getSex() == 1 %}selected="selected"{% endif %}>{{ labels.sex.man }}</option>
					<option value="2" {% if user.getSex() == 2 %}selected="selected"{% endif %}>{{ labels.sex.woman }}</option>
				</select>
			</div>
			<div class="label">
				<input type="submit" name="submit" value="{{ labels.update }}">
			</div>
			<div style="height: 20px;"></div>
		</form>
	</div>
</div>
</body>
</html>