<html>
<head>
    {% include '@app/blocks/header.twig' %}
    <script src="/static/js/jQuery.base64.js"></script>
    <script src="/static/js/chat.js"></script>
</head>
<body>
<div class="header-menu">
    {% include '@app/blocks/search.twig' with {"userSearch": labels.userSearch } %}
    <span class="left">
        {% include '@app/blocks/header.left.menu.twig' with {'links':links,'labels':labels} %}
    </span>
    <span class="right">
        {% include '@app/blocks/header.right.menu.twig' with {'links':links,'labels':labels,'userName':currentUser.getName()} %}
    </span>
</div>
<div id="wrapper-chat">
    <div id="chat-container">
        <div id="privates-container">
            <div id="current-dialogue">
                <div id="contact-data">
                    {% include '@app/blocks/userPic.twig' with {"user": currentContact, "size": 60 } %} &nbsp;&nbsp;&nbsp;
                    {{ currentContact.getName() }}
                    {% include '@app/blocks/check.favorite.twig' with {"user": currentUser, "favId": currentContact.getId() } %}
                </div>
                <div id="line"></div>
            </div>
            <div id="users-list"></div>
        </div>
        <div id="dialogue">
            <div id="messages">
                <div id="older"></div>
                <div id="new-loaded"></div>
            </div>
            <div id="write-form">
                <input type="hidden" class="emptyText" value="{{ labels.emptyText }}">
                <form action="{{ links.newMessageCreate }}" enctype="application/x-www-form-urlencoded" method="post" id="message-form">
                    <div id="write-input">
                        <textarea id="new-message" title="{{ labels.emptyText }}" name="message"></textarea>
                    </div>
                    <input type="hidden" id="chat-with" value={{ with }}>
                    <input type="hidden" id="current-user" value={{  currentUser.getId() }}>
                    <input type="hidden" id="rand" value="{{ rand }}">
                    <input type="submit" value="Отправить" id="send-message-submit">
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>